<div id="container" class="d-flex justify-content-center align-items-center">
  <div id="content">
    <h2 class="text-center mb-4">Log in to Toomio</h2>
    <div class="d-flex flex-column gap-3">
      <input type="text" class="form-control p-2" placeholder="Username, email address">
      <input type="text" class="form-control p-2" placeholder="Password">
      <button id="btn-login" class="btn btn-primary">Log In</button>
      <div id="links" class="d-flex justify-content-between">
        <a href="#" class="btn" role="button" data-bs-toggle="button">Forgot Password?</a>
        <a href="#" class="btn" role="button" data-bs-toggle="button" routerLink="/signup">Sign up to Toomio</a>
      </div>
    </div>
  </div>
</div>
