<div>
  <label class="p-2 mx-2 mt-2">Home</label>
  <hr>
  <div id="home-navigation" class="d-flex justify-content-center gap-5 pb-0">
    <div #post1 class="me-5 pb-2 active" (click)="postMethod(post1, journey1)">Create Post</div>
    <div #journey1 class="pb-2" (click)="journeyMethod(post1, journey1)">Create Journey</div>
  </div>
</div>
<div id="post-journey">
  <div *ngIf="post" class="p-1">
    <div class="d-flex justify-content-end">
      <div>
        <img class="pp" src="assets/images/download.jpeg" alt="..">
      </div>
      <input class="form-control mx-2 input-pj" placeholder="What's the latest on your journey?">
      <div>
        <button id="btn-post" class="btn btn-primary rounded-pill mx-1 mt-1">Post</button>
      </div>
    </div>
    <div id="select-journey" class="d-flex">
      <div class="pt-1">Select Journey:</div>
      <select class="form-select mx-2" aria-label="Default select example">
        <option value="0"></option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div id="img" class="mt-1">
      <input type="file" class="form-control">
    </div>
  </div>
  <div *ngIf="journey" class="p-1">
    <div class="d-flex justify-content-end">
      <div>
        <img class="pp" src="assets/images/download.jpeg" alt="..">
      </div>
      <input class="form-control mx-2 input-pj" placeholder="Journey Name?">
      <div>
        <button id="btn-journey" class="btn btn-primary rounded-pill mx-1 mt-1">Create Journey</button>
      </div>
    </div>
    <div id="journey-description" class="d-flex">
      <input class="form-control input-pj" placeholder="Journey Description?">
    </div>
  </div>
</div>

