#home-content {
  overflow-y: scroll;
  height: 87%;
}

#home-navigation > div:hover {
  user-select: none;
  font-weight: bold;
}

#home-navigation {
  border-bottom: 2px solid lightgray;
}

#home-navigation > div.active {
  border-bottom: 3px solid dodgerblue;
  font-weight: bold;
}

#post-journey {
  height: 150px;
  /*background-color: #a8e891;*/
  border-bottom: 1px solid lightgray;
}

.pp {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

#btn-post {
  width: 100px;
  background-color: #48b1f1;
  border: none;
}

#btn-post:hover,
#btn-journey:hover {
  background-color: #055e94;
}

.input-pj {
  outline: white;
  border: none;
}

#select-journey {
  margin-left: 73px;
  margin-top: 5px;
}

#select-journey > select {
  width: 200px;
  border: 1px solid #48b1f1;
}

#img {
  margin-left: 73px;
  width: 320px;
}


#btn-journey {
  width: 150px;
  background-color: #48b1f1;
  border: none;
}

#journey-description {
  margin-top: 10px;
  margin-left: 58px;
  width: 69%;
}

/*post-content*/
.journey-name {
  color: #48b1f1;
}

.react-line > div:hover {
  color: #48b1f1;
  user-select: none;
  cursor: pointer;
}

.post-images {
  max-width: 500px;
}
