<div id="container" class="d-flex justify-content-center align-items-center">
  <div id="content">
    <h2 class="text-center mb-5">Toomio</h2>
    <h5 class="mb-4">Create an account</h5>
    <div class="d-flex flex-column gap-3">
      <input type="text" class="form-control p-2" placeholder="Name">
      <input type="text" class="form-control p-2" placeholder="User name">
      <input type="text" class="form-control p-2" placeholder="Email">
      <input type="password" class="form-control p-2" placeholder="Password">
      <input type="password" class="form-control p-2" placeholder="Confirm-Password">
      <label>Date of birth</label>
      <input class="form-control p-2" type="date">
      <button type="button" id="btn-login" class="btn btn-primary">Create</button>
    </div>
  </div>
</div>
