<div>
  <label class="p-2 mx-2 mt-2">Notifications</label>
  <hr>
  <div>
    <div class="d-flex flex-row mx-3">
      <div class="d-flex justify-content-center align-items-center pp">
        <img src="assets/images/download.jpeg" class="rounded float-start" alt="...">
      </div>
      <div class="mt-2 mx-1">
        <label class="fw-bold">Kevin</label>
        <label class="px-2 fw-lighter">@kevin1</label>
        <label class="px-1 fw-lighter">Sep-6</label>
        <div>Clapped your post "Embarking on an epic coding"</div>
      </div>
    </div>
    <div class="d-flex flex-row mx-3">
      <div class="d-flex justify-content-center align-items-center pp">
        <img src="assets/images/download%20(1).jpeg" class="rounded float-start" alt="...">
      </div>
      <div class="mt-2 mx-1">
        <label class="fw-bold">Kevin</label>
        <label class="px-2 fw-lighter">@kevin1</label>
        <label class="px-1 fw-lighter">Sep-6</label>
        <div>Followed your journey "Mastering coding"</div>
      </div>
    </div>
    <div class="d-flex flex-row mx-3">
      <div class="d-flex justify-content-center align-items-center pp">
        <img src="assets/images/istockphoto-501263467-612x612.jpg" class="rounded float-start" alt="...">
      </div>
      <div class="mt-2 mx-1">
        <label class="fw-bold">stephen amell</label>
        <label class="px-2 fw-lighter">@stephen_amell</label>
        <label class="px-1 fw-lighter">Sep-10</label>
        <div>Posted new journey "10-day farming challenge"</div>
      </div>
    </div>
  </div>
</div>
