<div>
  <h4 class="p-2 mx-2 mt-2">Home</h4>
  <hr>
  <div class="center-container">
    <span
      (click)="selectOption('post')"
      [ngClass]="{'underline': selectedOption === 'post'}">
      Create Post
    </span>
    <span
      (click)="selectOption('journey')"
      [ngClass]="{'underline': selectedOption === 'journey'}">
      Create Journey
    </span>
  </div>
  <ng-container *ngIf="selectedOption === 'post'">
    <div class="form-wrapper">
      <div class="col-md-11 mx-2">
        <form (ngSubmit)="savePost()">
          <div>
            <input type="text" id="postName" [(ngModel)]="postName" name="postName" required placeholder="post name?">
          </div>
          <div>
            <textarea id="postDescription" [(ngModel)]="content" name="content" required
                      placeholder="Content?"></textarea>
          </div>
<!--           <div class="col-md-12 form-group mb-3" >-->
<!--             <div class="dropdown">-->
<!--               <button class="btn btn-secondary dropdown-toggle" type="button" (click)="toggleDropdown()">-->
<!--                 {{ selectedJourney || 'Select Journey' }}-->
<!--               </button>-->
<!--               <div class="dropdown-menu" [ngClass]="{'show': dropdownOpen}">-->
<!--                 <a *ngFor="let journey of journeyList" class="dropdown-item" (click)="selectJourney(journey)">-->
<!--                   {{ journey.title }}-->
<!--                 </a>-->
<!--               </div>-->
<!--             </div>-->
<!--           </div>-->

          <!-- HTML Dropdown -->
          <div class="col-md-12 form-group mb-3">
            <label>Select Journey</label>
            <select [(ngModel)]="journey" name="selectedJourney" class="form-control" required (change)="onJourneyChange($event)">
              <option value="" disabled selected>Select Journey</option>
              <option *ngFor="let journey of journeyList" [value]="journey._id">{{ journey.title }}</option>
            </select>
          </div>

          <!-- File Upload Button -->
          <div class="file-upload-wrapper my-3">
            <label for="fileInput" class="btn btn-outline-primary">
              <i class="fas fa-upload"></i> Upload Image
            </label>
            <input type="file" id="fileInput" (change)="onFileSelected($event)" style="display: none;">
          </div>

        </form>
      </div>
    </div>
    <button (click)="savePost()" class="left" type="submit">Post</button>

  </ng-container>

  <ng-container *ngIf="selectedOption === 'journey'">
    <div *ngIf="selectedOption === 'journey'" class="form-wrapper">
      <div class="col-md-11 mx-2">
        <form (ngSubmit)="savePost()">
          <div>
            <input type="text" id="journeyName" [(ngModel)]="journeyName" name="postName" required
                   placeholder="Journey name?">
          </div>
          <div>
            <textarea id="journeyDescription" [(ngModel)]="journeyDescription" name="postDescription" required
                      placeholder="description?"></textarea>
          </div>
        </form>
      </div>
    </div>
    <button (click)="saveJourney()" class="left" type="submit">Create Journey</button>

  </ng-container>

  <hr>

  <div class="col-md-10 mx-4" *ngFor="let item of feedData">
    <div id="whois" class="d-flex align-items-start flex-column">
      <div class="d-flex align-items-center">
        <div class="profile-image-wrapper">
          <img src="https://randomuser.me/api/portraits/men/32.jpg" class="profile-image" (click)="findProfile(item)">
        </div>
        <div class="text-start mx-2">
          <div class="title">#{{ item.title }}</div>

          <div class="fw-bold username">{{ item.userName }}</div>
        </div>
      </div>
    </div>
    <p>{{ item.content }}</p>
    <img
      src="https://images.unsplash.com/photo-1542744095-fcf48d80b0fd?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzNjUyOXwwfDF8c2VhcmNofDE0fHx1aSUyMHV4fGVufDB8fHx8MTYzMjM5NzI3OA&ixlib=rb-1.2.1&q=80&w=1080"
      alt="Nature" class="nature-img">
    <div class="interaction mt-4">
      <i (click)="likePost(item)" class="fas fa-sign-language"></i>
      <span>{{ item.likeCount }}</span>
      <i (click)="openCommentModal(item)" class="fas fa-comment mx-5"></i>
      <span class="mx-0">{{ item.commentCount }}</span>

    </div>
    <div *ngIf="isCommentModalOpen" class="modal">
      <div class="modal-content">
        <span class="close" (click)="closeCommentModal()">&times;</span>
        <!-- Previous Comments Section -->
        <div class="comments-section">
          <div *ngFor="let comment of comments" class="comment-item">
            <strong>{{ comment.content }}</strong>
          </div>
        </div>

        <textarea type="text" [(ngModel)]="content" placeholder="Add a comment"></textarea>
        <button (click)="addComment(item)">Submit</button>

      </div>
    </div>
<!--    <div class="comments-section">-->
<!--      <div *ngFor="let comment of comments">{{ comment }}</div>-->
<!--    </div>-->
    <hr>
  </div>


<!--  <div class="col-md-10 mx-4" *ngFor="let item of feedData">-->
<!--    <div id="whois" class="d-flex align-items-center">-->
<!--      <div class="profile-image-wrapper">-->
<!--        <img src="https://randomuser.me/api/portraits/men/32.jpg" class="profile-image">-->
<!--      </div>-->
<!--      <div class="text-start mx-2">-->
<!--        <div class="fw-bold">Bobur</div>-->
<!--        <div class="fw-lighter">{{ item.userEmail }}</div>-->
<!--      </div>-->
<!--      <h3 class="ms-3">{{ item.title }}</h3>-->
<!--    </div>-->
<!--    <p>{{ item.content }}</p>-->

<!--    &lt;!&ndash; Iterating over images array &ndash;&gt;-->
<!--    <div class="image-gallery">-->
<!--      <img *ngFor="let imageUrl of item.imageUrls"-->
<!--           [src]="imageUrl"-->
<!--           alt="Image"-->
<!--           class="nature-img mx-1 my-1">-->
<!--    </div>-->

<!--    <div class="interaction mt-4">-->
<!--      <i (click)="likePost(item)" class="fas fa-sign-language"></i>-->
<!--      <span>{{ item.likeCount }}</span>-->
<!--      <i (click)="openCommentModal()" class="fas fa-comment mx-5"></i>-->
<!--    </div>-->

<!--    <div *ngIf="isCommentModalOpen" class="modal">-->
<!--      <div class="modal-content">-->
<!--        <span class="close" (click)="closeCommentModal()">&times;</span>-->
<!--        <textarea type="text" [(ngModel)]="newComment" placeholder="Add a comment"></textarea>-->
<!--        <button (click)="addComment()">Submit</button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <hr>-->

<!--  </div>-->


  <hr>
</div>
